<aside class="sidebar">
  <!-- Logo / App Name -->
  <div class="sidebar__logo">
    Dashboard
  </div>

  <nav class="sidebar__menu">
    <a routerLink="/dashboard"
       routerLinkActive="active"
       class="sidebar__link">
       <img class="material-icons" src="assets/icons/dashboard.svg" alt="">
       <span>Dashboard</span>
    </a>

    <a routerLink="/page-one"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/applications.svg" alt="">
      <span>Applications</span>
    </a>
    
    <a routerLink="/page-two"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/users.svg" alt="">
      <span>Users</span>
    </a>
    
    <a routerLink="/page-three"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/hourglass-empty.svg" alt="">
      <span>Time invested</span>
    </a>
  </nav>
</aside>
