<aside class="sidebar">
  <!-- Logo / App Name -->
  <div class="sidebar__logo">
    <img src="" alt="">
    Dashboard
  </div>

  <nav class="sidebar__menu">
    <a routerLink="/"
       routerLinkActive="active"
       class="sidebar__link">
       <img class="material-icons" src="assets/icons/dashboard.svg" alt="">
       <span>Dashboard</span>
    </a>

    <a routerLink="/applications"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/applications.svg" alt="">
      <span>Applications</span>
    </a>
    
    <a routerLink="/users"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/users.svg" alt="">
      <span>Users</span>
    </a>
    
    <a routerLink="/time-invested"
    routerLinkActive="active"
    class="sidebar__link">
      <img class="material-icons" src="assets/icons/hourglass-empty.svg" alt="">
      <span>Time invested</span>
    </a>
  </nav>
</aside>
