.navbar {
  height: 64px;
  background: var(--bg-surface);
  border-bottom: 1px solid var(--border-soft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.navbar__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 10px;
}


.title-icons {
  width: 25px;
  height  : 25px;
  filter: invert(40%) sepia(18%) saturate(900%) hue-rotate(125deg) brightness(90%) contrast(90%);
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__icon {
  cursor: pointer;
  color: var(--text-muted);
  transition: color 0.2s ease;
}

.navbar__icon:hover {
  color: var(--primary);
}

.material-icons {
  width: 20px;
}