<header class="navbar">
  <div class="navbar__title">
    <img class="title-icons" [src]="setIcon()" alt="">
    {{ setTitle() }}
  </div>

  <div class="navbar__actions">
    <span class="material-icons navbar__icon">
        <img class="material-icons" src="assets/icons/notifications.svg" alt="">
    </span>
    
    <span class="material-icons navbar__icon">
        <img class="material-icons" src="assets/icons/settings.svg" alt="">
    </span>
    
    <span class="material-icons navbar__icon">
        <img class="material-icons" style="width: 25px;" src="assets/icons/account-settings.svg" alt="">
    </span>
  </div>
</header>
